

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Friend</h5>
   <div>

<%= render @friend %>

<div>
  <%= link_to "Edit this friend", edit_friend_path(@friend), class:"btn btn-danger" %> 
  <br></br>
  <%= link_to "Back to friends", friends_path, class:"btn btn-danger" %>
<br></br>
  <%= button_to "Destroy this friend", @friend, method: :delete, class:"btn btn-danger" %>
</div>
</div>